.App {
  display: flex;
  justify-content: start;
}

.App-header {
  display: flex;
  justify-content: start;
  width: 1200px;
}

#taglist {
  font-size: 11px;
}

#addButton {
  margin-top: 58px;
  font-size: larger;
  border-radius: 5px;
  border: solid black 1px;
}

#cancelButton {
  margin-left: 10px;
}

#topNotes {
  margin-bottom: 30px;
}

#notes {
  display: flex;
  justify-content: space-between;
  border: solid black 1px;
  border-radius: 5px;
  padding: 10px;
  width: 500px;
  height: 150px;
}

#data {
  height: auto;
  display: flex;
  margin: 0;
  word-break: break-word;
  overflow: auto;
}

#hashTag {
  color: rgb(117, 117, 117);
}

#notes::-webkit-scrollbar {
  width: 5px;
}

ul {
  padding-left: 20px;
  padding-right: 20px;
}

#buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  right: 100%;
}

#titleinput {
  margin-bottom: 16px;
  border-radius: 5px;
  border: black 1px solid;
}
#textinput {
  border: black 1px solid;
  margin-bottom: 16px;
  border-radius: 5px;
}

#inpText {
  width: 250px;
  height: 150px;
}

#divInput {
  color: transparent;
  background: transparent;
  border: 1px solid gray;
  height: 150px;
  overflow: auto;
  padding: 2px;
  width: 500px;
  resize: none;
  caret-color: black;
  white-space: break-spaces;
  word-wrap: break-word;
}

#divInput > mark {
  color: transparent;
  background: transparent;
}

#pre {
  position: absolute;
  overflow: auto;
  padding: 3px;
  pointer-events: none;
  height: 150px;
  width: 500px;
  white-space: break-spaces;
  word-wrap: break-word;
}

#pre > mark {
  background: rgba(255, 255, 0, 0.5);
}
